# EXAMPLES OF REQUIRED ENVIRONMENT VARIABLES
# DO NOT ADD REAL CREDENTIALS TO THIS FILE!
# This file is committed to version control and serves as a template
# so that other developers know which variables to configure.

# Target environment keyword (dev, qa, preprod, prod)
ENV=qa

# Dev
DEV_URL=
DEV_USERNAME=
DEV_PASSWORD=

# QA
QA_URL=
QA_USERNAME=
QA_PASSWORD=

# Preprod
PREPROD_URL=
PREPROD_USERNAME=
PREPROD_PASSWORD=

# Prod
PROD_URL=
PROD_USERNAME=
PROD_PASSWORD=
